@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "ヒラギノ明朝 ProN", "Hiragino Mincho Pro",  "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.6;
  background: white;
  color: #333333;
}

header, footer, nav, section, article, aside, figure, figcaption {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
  vertical-align: bottom;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-weight: 600;
}

dt,
dd {
  margin: 0;
  padding: 0;
}

input[type="submit"][disabled] {
  background: #DCDCDC;
  cursor: not-allowed;
}

.page-top {
  font-size: 50px;
  background-color: #AFEEDB;
  position: fixed;
  bottom: 24px;
  right: 24px;
  width: 60px;
  text-align: center;
  color: white;
}

#gray-display {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: gray;
  opacity: 0.8;
  z-index: 8;
}

/* ハンバーガーメニュー============================*/
.hamburger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
  z-index: 10;
  position: absolute;
  right: 30px;
  top: 30px;
  display: none;
}

@media screen and (max-width: 767px) {
  .hamburger-menu {
    display: block;
  }
}

.hamburger-menu__line {
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: red;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.hamburger-menu__line::before,
.hamburger-menu__line::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: red;
  position: absolute;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: none;
}

@media screen and (max-width: 767px) {
  .hamburger-menu__line::before,
  .hamburger-menu__line::after {
    display: block;
  }
}

.hamburger-menu__line::before {
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
}

.hamburger-menu__line::after {
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
}

.hamburger-menu.open .hamburger-menu__line {
  background-color: transparent;
}

.hamburger-menu.open .hamburger-menu__line::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hamburger-menu.open .hamburger-menu__line::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header-drawer {
  position: fixed;
  top: -20px;
  right: 0;
  background-color: black;
  width: 200px;
  height: 400px;
  padding-top: 100px;
  z-index: 9;
  display: none;
}

.header-drawer li {
  font-size: 28px;
  margin-bottom: 20px;
  padding-left: 30px;
  list-style: none;
  text-align: center;
}

.drawer-icon {
  position: fixed;
  top: 15px;
  right: 16px;
  z-index: 20;
  display: none;
  -webkit-transition: -webkit-transform  0.3s ease 0s;
  transition: -webkit-transform  0.3s ease 0s;
  transition: transform  0.3s ease 0s;
  transition: transform  0.3s ease 0s, -webkit-transform  0.3s ease 0s;
}

@media screen and (max-width: 767px) {
  .drawer-icon {
    display: block;
  }
}

.drawer-icon.is-active .drawer-icon__bar1 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 10px;
  width: 30px;
}

.drawer-icon.is-active .drawer-icon__bar2 {
  display: none;
}

.drawer-icon.is-active .drawer-icon__bar3 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 10px;
  width: 30px;
}

.drawer-icon__bars {
  margin-top: 7px;
  width: 30px;
  height: 18px;
  position: relative;
}

.drawer-icon__bar1,
.drawer-icon__bar2,
.drawer-icon__bar3 {
  position: absolute;
  width: 100%;
  height: 3px;
  background: #3EA1D1;
  top: 0;
  left: 0;
  -webkit-transition: -webkit-transform  0.5s ease 0s;
  transition: -webkit-transform  0.5s ease 0s;
  transition: transform  0.5s ease 0s;
  transition: transform  0.5s ease 0s, -webkit-transform  0.5s ease 0s;
}

.drawer-icon__bar1 {
  top: 0;
}

.drawer-icon__bar2 {
  top: 8px;
}

.drawer-icon__bar3 {
  top: 16px;
}

.drawer-content {
  width: 270px;
  height: 100%;
  position: fixed;
  top: 60px;
  right: 0;
  z-index: 50;
  background: #3EA1D1;
  -webkit-transform: translateX(105%);
          transform: translateX(105%);
  -webkit-transition: -webkit-transform  0.3s ease 0s;
  transition: -webkit-transform  0.3s ease 0s;
  transition: transform  0.3s ease 0s;
  transition: transform  0.3s ease 0s, -webkit-transform  0.3s ease 0s;
  overflow: scroll;
}

.drawer-content.is-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.drawer-content__item a {
  display: block;
  color: #fff;
  margin-top: 46px;
  padding-right: 15px;
  text-align: right;
  font-size: 18px;
  letter-spacing: 1.8px;
}

.drawer-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 10;
  display: none;
}

.drawer-background.is-active {
  display: block;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0  40px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

@media screen and (max-width: 767px) {
  .inner {
    padding: 0 15px;
  }
}

.sp-only {
  display: none;
}

@media screen and (max-width: 767px) {
  .sp-only {
    display: block;
  }
}

.pc-only {
  display: block;
}

@media screen and (max-width: 767px) {
  .pc-only {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .pc-only {
    display: none;
  }
}

.pc-tab-only {
  display: block;
}

@media screen and (max-width: 767px) {
  .pc-tab-only {
    display: none;
  }
}

.sp-tab-only {
  display: none;
}

@media screen and (max-width: 767px) {
  .sp-tab-only {
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .sp-tab-only {
    display: block;
  }
}

footer {
  position: absolute;
  width: 100%;
}

.section {
  padding: 80px  80px;
}

@media screen and (max-width: 767px) {
  .section {
    padding: 48px 0;
  }
}

.section-title {
  font-family: Hiragino Mincho Pro;
  font-size: 40px;
  line-height: 68 / 40;
  text-align: center;
  padding-bottom: 16px;
  position: relative;
}

.section-title::after {
  content: "";
  width: 60px;
  height: 1px;
  background: #3EA1D1;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (max-width: 767px) {
  .section-title {
    font-size: 30px;
  }
}

.button {
  width: 157px;
  margin: 48px auto 0;
}

.button a {
  display: inline-block;
  width: 100%;
  background: #fff;
  color: #3EA1D1;
  border: 1px solid #3EA1D1;
  padding: 10px;
  text-align: center;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.button a:hover {
  background: #3EA1D1;
  color: #fff;
}

.header {
  background: #fff;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}

.header-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .header-contents {
    height: 60px;
  }
}

.header__logo {
  width: 120px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .header__nav {
    display: none;
    height: 60px;
  }
}

.header__nav li:nth-child(n + 2) {
  margin-left: 48px;
}

.header__nav li a {
  display: inline-block;
  font-weight: 300;
  height: 70px;
  line-height: 70px;
}

.header__nav li a:hover {
  color: #E7728E;
}

.header__nav li a.is-active {
  color: #E7728E;
}

.main-visual {
  padding-top: 70px;
}

@media screen and (max-width: 767px) {
  .main-visual {
    padding: 60px 0 0px;
  }
}

.main-visual__top {
  position: relative;
}

.main-visual__top-img {
  background: url(../image/top@2x.png) no-repeat top right/82.5%;
  padding-top: 66%;
}

@media screen and (max-width: 767px) {
  .main-visual__top-img {
    background: url(../image/topsp@2x.png) no-repeat center top/cover;
    padding-top: 120%;
  }
}

.main-visual__top-contents {
  width: 27.5%;
  max-width: 330px;
  padding: 92px 0;
  background: #fff;
  position: absolute;
  top: 42%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}

@media screen and (max-width: 767px) {
  .main-visual__top-contents {
    position: static;
    top: 0;
    -webkit-transform: none;
            transform: none;
    padding: 40px 0 0;
    width: 100%;
  }
}

.main-visual__title {
  font-size: 26px;
  line-height: 44 / 26;
  font-weight: 600;
}

.main-visual__text {
  line-height: 27 / 16;
  margin-top: 28px;
}

.concept__contents {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .concept__contents {
    display: block;
  }
}

.concept__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  height: 400px;
}

@media screen and (max-width: 767px) {
  .concept__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.concept__img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.concept__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding-left: 6.66667%;
}

@media screen and (max-width: 767px) {
  .concept__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding: 0;
    margin-top: 40px;
  }
}

.concept__text h3 {
  font-weight: 600;
}

.concept__text p {
  margin-top: 48px;
  font-weight: 300;
}

@media screen and (max-width: 767px) {
  .concept__text p {
    margin-top: 32px;
  }
}

.feature__contents {
  margin: 64px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .feature__contents {
    margin-top: 48px;
    display: block;
    max-width: 340px;
  }
}

.featuer__card {
  width: calc(33.3% - 91 * 2 / 3);
  background: #fff;
  -webkit-box-shadow: 3px 3px 15px #60606029;
          box-shadow: 3px 3px 15px #60606029;
}

.featuer__card:hover .feature__card-img > img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .featuer__card {
    width: calc(33.3% - 40 * 2 / 3);
  }
}

@media screen and (max-width: 767px) {
  .featuer__card {
    width: 100%;
  }
}

.featuer__card + .featuer__card {
  margin-left: 91px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .featuer__card + .featuer__card {
    margin-left: 40px;
  }
}

@media screen and (max-width: 767px) {
  .featuer__card + .featuer__card {
    margin-left: 0;
    margin-top: 48.5px;
  }
}

.feature__card-img {
  overflow: hidden;
}

.feature__card-img img {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.feature__card-sub {
  text-align: center;
  padding: 32px 0;
}

.feature__big-image {
  margin: 80px 0 80px;
  padding: 120px 0;
  background: transparent url(../image/bg@2x.png) no-repeat center center/cover;
  position: relative;
}

.feature__big-image::after {
  content: "";
  background: rgba(0, 0, 0, 0.12);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .feature__big-image {
    margin-top: 96px;
    padding: 182px 0 55px;
    background: transparent url(../image/bgsp@2x.png) no-repeat center top/cover;
  }
}

.feature__big-image-contents {
  position: relative;
  color: #fff;
}

.feature__big-image-contents h3 {
  font-size: 22px;
}

@media screen and (max-width: 767px) {
  .feature__big-image-contents h3 {
    font-size: 20px;
  }
}

.feature__big-image-contents p {
  line-height: 27 / 16;
  margin-top: 40px;
}

@media screen and (max-width: 767px) {
  .feature__big-image-contents p {
    font-size: 14px;
    margin-top: 32px;
  }
}

.products__contents {
  margin: 64px auto 0;
  max-width: 940px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .products__contents {
    max-width: 340px;
    padding: 0 43px;
    display: block;
  }
}

.products__card {
  width: calc(33.3% - 80 * 2 / 3);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.products__card:hover .products__img > img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .products__card {
    width: calc(33.3% - 40 * 2 / 3);
  }
}

@media screen and (max-width: 767px) {
  .products__card {
    width: 100%;
  }
}

.products__card + .products__card {
  margin-left: 80px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .products__card + .products__card {
    margin-left: 40px;
  }
}

@media screen and (max-width: 767px) {
  .products__card + .products__card {
    margin-left: 0;
    margin-top: 48px;
  }
}

.products__img {
  overflow: hidden;
}

.products__img img {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.products__text {
  margin-top: 24px;
  font-size: 14px;
  line-height: 24 / 14;
}

.products__valu {
  margin-top: 16px;
  font-size: 14px;
  line-height: 24 / 14;
  color: #989898;
}

.news__contents {
  margin: 50px auto 0;
  max-width: 1040px;
}

.news__item {
  padding-bottom: 24px;
  border-bottom: 1px solid #E0E0E0;
  width: 1040px;
  max-width: 100%;
  margin: 0 auto;
}

.news__item:hover .news__img > img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.news__item + .news__item {
  padding-top: 22px;
}

.news__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .news__item a {
    display: block;
  }
}

.news__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 260px;
          flex: 0 0 260px;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .news__img {
    width: 100%;
  }
}

.news__img img {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.news__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  margin-left: 40px;
  padding-top: 25px;
}

@media screen and (max-width: 767px) {
  .news__text {
    width: 100%;
    margin-left: 0;
  }
}

.news__date {
  font-size: 14px;
  line-height: 24 / 14;
}

.news__sub {
  margin-top: 16px;
  font-size: 18px;
  line-height: 31 / 18;
}

.news__p {
  margin-top: 24px;
  font-size: 14px;
  line-height: 24 / 14;
  color: #888888;
}

.news-bottom {
  padding-bottom: 225px;
}

@media screen and (max-width: 767px) {
  .news-bottom {
    padding-bottom: 96px;
  }
}

.news-bottom__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .news-bottom__contents {
    display: block;
  }
}

.news-bottom__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  height: 400px;
}

.news-bottom__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 767px) {
  .news-bottom__img {
    width: 100%;
  }
}

.news-bottom__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding-right: 80px;
}

@media screen and (max-width: 767px) {
  .news-bottom__text {
    width: 100%;
    padding: 40px 0 0;
  }
}

.news-bottom__text h3 {
  font-size: 28px;
  line-height: 48/ 28;
}

@media screen and (max-width: 767px) {
  .news-bottom__text h3 {
    font-size: 20px;
  }
}

.news-bottom__text p {
  margin-top: 48px;
  line-height: 27 / 16;
}

@media screen and (max-width: 767px) {
  .news-bottom__text p {
    font-size: 14px;
    margin-top: 32px;
  }
}

.contact {
  background: transparent url(../image/contact@2x.png) no-repeat center top/cover;
  height: auto;
}

@media screen and (max-width: 767px) {
  .contact {
    background: transparent url(../image/contact@2x.png) no-repeat center top/cover;
  }
}

.contact__head {
  color: #3EA1D1;
}

.contact__form {
  margin: 64px auto 0;
  width: 511px;
  max-width: 100%;
  background: transparent;
}

@media screen and (max-width: 767px) {
  .contact__form {
    padding: 33px;
    margin-top: 0px;
  }
}

.contact-text {
  width: 153px;
  margin: 0 auto;
  font-size: 14px;
  padding-left: 16px;
  position: relative;
}

.contact-text::before {
  content: "＊";
  width: 16px;
  height: 16px;
  font-size: 16px;
  color: #E7728E;
  position: absolute;
  left: 0;
  top: -1px;
}

.contact__form--row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .contact__form--row {
    display: block;
  }
}

.contact__form--row:not(:first-child) {
  margin-top: 60px;
}

@media screen and (max-width: 767px) {
  .contact__form--row:not(:first-child) {
    margin-top: 30px;
  }
}

.contact__form--label {
  width: 170px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .contact__form--label {
    width: 100%;
  }
}

.contact__form--label .contact_form--label-tag {
  background: #3EA1D1B3;
  width: 100%;
  padding: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .contact__form--label .contact_form--label-tag {
    width: 150px;
    background: transparent;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    padding: 0;
  }
}

.contact__form--label .contact_form--label-tag::after {
  content: "";
  border: 20px solid transparent;
  border-left: 10px solid #3EA1D1B3;
  position: absolute;
  top: 0;
  right: -30px;
}

@media screen and (max-width: 767px) {
  .contact__form--label .contact_form--label-tag::after {
    display: none;
  }
}

.contact__form--label label {
  font-weight: 700;
  text-align: center;
  color: #fff;
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  .contact__form--label label {
    background: #3EA1D1;
    padding: 10px 25px 10px 13px;
    font-size: 14px;
  }
}

.contact__form--label label.is-required {
  position: relative;
}

.contact__form--label label.is-required::after {
  content: "＊";
  position: absolute;
  top: 0px;
  right: -10px;
  color: #E7728E;
  width: 12px;
  height: 12px;
  font-size: 12px;
  line-height: 20 / 12;
}

@media screen and (max-width: 767px) {
  .contact__form--label label.is-required::after {
    right: 10px;
    top: 5px;
  }
}

.contact__form--input {
  width: calc(100% - 180px);
  margin-left: 21px;
}

@media screen and (max-width: 767px) {
  .contact__form--input {
    width: 100%;
    margin-top: 3px;
    margin-left: 0;
  }
}

.contact__form--input [type="text"] {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  border-radius: 0;
  background: #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 10px  16px;
  font-size: 14px;
  color: inherit;
  font-family: inherit;
  width: 100%;
}

.contact__form--input [type="email"] {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  border-radius: 0;
  background: #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 10px  16px;
  font-size: 14px;
  color: inherit;
  font-family: inherit;
  width: 100%;
}

.contact__form--input select {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  border-radius: 0;
  background: #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 13px  16px;
  font-size: 14px;
  color: inherit;
  font-family: inherit;
  width: 60px;
}

.contact__form--input .contact__radio-wrap {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 1px solid #fff;
  border-radius: 1px;
  -webkit-box-shadow: 5px 5px 15px #60606029;
          box-shadow: 5px 5px 15px #60606029;
}

.contact__form--input .contact__radio {
  position: relative;
}

.contact__form--input .contact__radio-part {
  display: block;
  background: #fff;
  width: 80px;
  height: 38px;
  line-height: 38px;
  text-align: center;
}

.contact__form--input .contact__radio-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 80px;
  height: 38px;
}

.contact__form--input .contact__radio-input:checked + .contact__radio-part {
  background: #3EA1D1;
  color: #fff;
}

.contact__form--input .contact__radio-input:focus + .contact__radio-part {
  outline: -webkit-focus-ring-color auto 1px;
}

.contact__form--input textarea {
  min-height: 122px;
  resize: vertical;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  border-radius: 0;
  background: #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 10px  16px;
  font-size: 14px;
  color: inherit;
  font-family: inherit;
  width: 100%;
}

.contact__form--checkbox {
  margin-top: 33px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .contact__form--checkbox {
    margin-top: 30px;
  }
}

.contact__form--checkbox [type="checkbox"] {
  display: none;
}

.contact__form--checkbox span {
  display: inline-block;
  padding-left: 49px;
  cursor: pointer;
  position: relative;
}

@media screen and (max-width: 767px) {
  .contact__form--checkbox span {
    padding-left: 40px;
  }
}

.contact__form--checkbox span::before {
  content: "";
  width: 25px;
  height: 25px;
  background: #fff;
  border: 1px solid #3EA1D1;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.contact__form--checkbox [type="checkbox"]:checked + span::before {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  top: -2px;
  left: 10px;
  border: 5px solid #3EA1D1;
  border-bottom: transparent;
  border-right: transparent;
  background: transparent;
  width: 12px;
}

.contact__form--checkbox a {
  text-decoration: underline;
  font-weight: 700;
  color: #3EA1D1;
}

.contact__form--submit {
  margin-top: 51px;
  text-align: center;
}

.contact__form--submit [type="submit"] {
  font-family: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 16px;
  font-weight: bold;
  color: #3EA1D1;
  background: #fff;
  width: 137px;
  border: 1px solid #3EA1D1;
  -webkit-box-shadow: 0  3px  6px #00000029;
          box-shadow: 0  3px  6px #00000029;
  padding: 20px;
  cursor: pointer;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.contact__form--submit [type="submit"]:hover {
  opacity: 0.7;
}

.contact__message {
  text-align: center;
  margin-top: 60px;
  display: none;
}

.contact__message.-error {
  color: red;
}

.footer {
  background: #F7F7F7;
  padding: 48px 0 17px;
  text-align: center;
}

.footer__logo {
  width: 120px;
  margin: 0 auto;
}

.footer__logo img {
  width: 100%;
}

.footer__text {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  .footer__text {
    display: block;
    text-align: center;
  }
}

.footer__text .text + .text {
  margin-left: 32px;
}

@media screen and (max-width: 767px) {
  .footer__text .text + .text {
    margin-left: 0;
    margin-top: 16px;
  }
}

.footer__text .text a {
  font-size: 12px;
}

.footer__text .text a:hover {
  opacity: 0.7;
}

.footer__sns {
  margin-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  .footer__sns {
    margin-top: 33px;
  }
}

.footer__sns .sns + .sns {
  margin-left: 40px;
}

.footer__sns .sns a:hover {
  opacity: 0.7;
}

.footer__sns .sns a i {
  font-size: 22px;
  color: #3EA1D1;
}

.footer__copy {
  margin-top: 24px;
  font-size: 12px;
  color: #888888;
}
